{"openapi":"3.1.0","info":{"title":"ReAI API","description":"REST API for getting and updating data programmatically.\n\n## Authentication\n\n* Send your API token in the `Authorization` header: `Authorization: Bearer <your-token>`\n* Tenant-scoped requests with user access tokens must send the tenant header: `X-Tenant-Id: <tenant-id>`\n* Use `GET /api/me` to discover the authenticated user and available tenants\n* Meta endpoints such as `GET /api/me` and `POST /api/tenants` can be used without a tenant header\n\n","contact":{"name":"ReAI Support","url":"https://reai.no/contact","email":"post@reai.no"},"version":"v1"},"servers":[{"url":"https://app.reai.no","description":"Generated server url"}],"security":[{"bearer-token":[]}],"tags":[{"name":"Currencies","description":"List supported currencies"},{"name":"General ledger","description":"General ledger report grouped by account"},{"name":"Customers","description":"Manage customers"},{"name":"Accountant clients","description":"Manage engagement details (oppdrag) for an accountant's clients: business description, oppdragsansvarlig, and oppdragskontroll notes. Records are retained even after access to a client is removed."},{"name":"Chart of accounts","description":"List chart of accounts for the current tenant"},{"name":"Share investments","description":"Manage share and securities positions"},{"name":"Supplier ledger invoice groups","description":"Add or remove open supplier ledger postings in the group shown for a supplier invoice. Use GET /api/supplier-invoices/{id} to inspect supplier invoice payment and settlement state; there is no GET /api/supplier-invoices/{id}/related-postings endpoint."},{"name":"Agreements","description":"Manage agreements and send them for signing"},{"name":"Bank transactions","description":"Query synced bank transactions"},{"name":"Documents","description":"Manage document center documents"},{"name":"Customer ledger","description":"Customer subsidiary ledger reports"},{"name":"Warehouses","description":"Manage warehouses"},{"name":"Opening balance","description":"Manage the opening balance, including one imported from SAF-T."},{"name":"VAT codes","description":"List supported VAT codes"},{"name":"Creditors","description":"Manage creditors (counterparties we owe money to, used for loans)"},{"name":"Timesheets","description":"Manage timesheets"},{"name":"Debtors","description":"Manage debtors (counterparties who owe us money, used for loans)"},{"name":"Tax returns","description":"Read, validate and file the Norwegian tax return (skattemelding / næringsspesifikasjon)"},{"name":"Offers","description":"Create and manage customer offers"},{"name":"Invoices","description":"Manage customer invoice refunds"},{"name":"Subscriptions","description":"Create and generate customer subscriptions"},{"name":"Departments","description":"Manage departments"},{"name":"Admin: Tenants","description":"Admin-only tenant provisioning. Mirrors the admin create-tenant page. Requires an API token belonging to a ROLE_ADMIN user."},{"name":"Projects","description":"Manage projects"},{"name":"Attachments","description":"Inspect, parse, and download attachments exposed by the public API"},{"name":"Asset ledger","description":"Asset subsidiary ledger report"},{"name":"Supplier ledger","description":"Supplier subsidiary ledger with per-supplier running balance, currency totals and posting groups"},{"name":"Annual accounts","description":"Read the Norwegian annual-accounts submission status"},{"name":"Leads","description":"Manage CRM leads"},{"name":"Admin: Users","description":"Admin-only user management. Requires an API token belonging to a ROLE_ADMIN user."},{"name":"Loans","description":"Manage loans"},{"name":"Bank reconciliations","description":"Inspect and manage reconciliations for synced bank accounts"},{"name":"Tenants","description":"Create tenants for the authenticated user. Use GET /api/me to list available tenants."},{"name":"Postings","description":"Query postings"},{"name":"Expenses","description":"Create, read, approve and book employee expenses"},{"name":"Countries","description":"List supported countries"},{"name":"Company banks","description":"List company banks available for payment selection"},{"name":"Supplier invoices","description":"Manage supplier invoices that have already been registered in accounting."},{"name":"Salary Payments","description":"Create and read salary payments"},{"name":"Invoices","description":"Create customer invoices from orders"},{"name":"Orders","description":"Create customer orders"},{"name":"Receipt reception documents","description":"Manage receipt reception documents before they are registered in accounting."},{"name":"Reconciliation rules","description":"Manage automatic reconciliation rules for account targets and optional subaccounts"},{"name":"Suppliers","description":"Manage suppliers"},{"name":"General sub-accounts","description":"Manage general subsidiary ledger sub-accounts used under chart-of-account entries that support general subsidiary ledgers."},{"name":"Invoice reception documents","description":"Inspect supplier invoice reception documents before they are registered in accounting."},{"name":"Manual bank reconciliations","description":"Inspect and manage ending balances and closing state for manual bank reconciliations"},{"name":"Employee ledger","description":"Per-employee subsidiary ledger with running balance and currency totals"},{"name":"Users","description":"Manage tenant users and invitations"},{"name":"VAT returns","description":"Create, manually complete and re-open VAT return periods"},{"name":"Assets","description":"Manage fixed asset subsidiary ledgers"},{"name":"Authentication","description":"Discover the authenticated user and tenants"},{"name":"Products","description":"Manage products"},{"name":"Vouchers","description":"Read vouchers and manage manual vouchers. Upload voucher attachments with POST /api/vouchers/{id}/pdf using multipart/form-data and one file part named `file`."}],"paths":{"/project/{id}/sub-project/{subProjectId}":{"put":{"tags":["project-ctrl"],"operationId":"renameSubProject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"subProjectId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/warehouses/{id}":{"get":{"tags":["Warehouses"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Warehouses"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseCreateReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Warehouses"],"summary":"Delete or archive warehouse","description":"Deletes the resource when it has no retained references. If deletion would break retained references, archives the resource instead; archived resources are hidden from active lists and may be restored by an unarchive endpoint when available. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"archived\"}.","operationId":"deleteOrArchive","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Warehouse deleted or archived","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/users/{id}":{"get":{"tags":["Users"],"operationId":"getUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAccessRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Users"],"operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAccessRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Users"],"operationId":"deleteUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"User access removed"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/suppliers/{id}/address":{"put":{"tags":["Suppliers"],"operationId":"updateAddress","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSupplierAddressReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/subscriptions/{id}":{"get":{"tags":["Subscriptions"],"operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Subscriptions"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubscriptionWriteReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubscriptionRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Subscriptions"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Subscription deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/share-investments/{id}":{"get":{"tags":["Share investments"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ShareInvestmentRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Share investments"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareInvestmentReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ShareInvestmentRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Share investments"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Share investment deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/salary-payments/{id}/wage-specs/{wageSpecId}":{"put":{"tags":["Salary Payments"],"summary":"Update wage specification line","description":"Updates a manual wage specification line in a salary payment that is still under process. Lines created from expense postings cannot be changed. Returns the updated salary payment with recalculated tax deductions and payable amounts.","operationId":"updateWageSpec","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"wageSpecId","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSalaryWageSpecReq"}}},"required":true},"responses":{"200":{"description":"Wage specification line updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalaryPaymentDetailRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Salary Payments"],"summary":"Delete wage specification line","description":"Deletes a manual wage specification line from a salary payment that is still under process. Lines created from expense postings cannot be deleted. Returns the updated salary payment with recalculated tax deductions and payable amounts.","operationId":"deleteWageSpec","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"wageSpecId","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Wage specification line deleted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalaryPaymentDetailRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/reconciliation-rules/{id}":{"get":{"tags":["Reconciliation rules"],"operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReconciliationRuleRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Reconciliation rules"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconciliationRuleMutationReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReconciliationRuleRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Reconciliation rules"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Reconciliation rule deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/projects/{id}":{"get":{"tags":["Projects"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Projects"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Projects"],"summary":"Delete or archive project","description":"Deletes the resource when it has no retained references. If deletion would break retained references, archives the resource instead; archived resources are hidden from active lists and may be restored by an unarchive endpoint when available. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"archived\"}.","operationId":"deleteOrArchive_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Project deleted or archived","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/projects/{id}/sub-projects/{subProjectId}/name":{"put":{"tags":["Projects"],"operationId":"updateSubProjectName","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"subProjectId","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubProjectNameReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/products/{id}":{"get":{"tags":["Products"],"operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Products"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Products"],"summary":"Delete or archive product","description":"Deletes the resource when it has no retained references. If deletion would break retained references, archives the resource instead; archived resources are hidden from active lists and may be restored by an unarchive endpoint when available. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"archived\"}.","operationId":"deleteOrArchive_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Product deleted or archived","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/orders/{id}":{"get":{"tags":["Orders"],"operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Orders"],"operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderReq"}}},"required":true},"responses":{"200":{"description":"Order updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRes","additionalProperties":{"default":""},"default":""}}}},"409":{"description":"The externalReference already belongs to another order","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/OrderExternalReferenceConflictRes","additionalProperties":{"default":""},"default":""}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Orders"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Order deleted"},"409":{"description":"Subscription-generated order cannot be deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/opening-balance":{"get":{"tags":["Opening balance"],"summary":"Get opening balance","operationId":"get_7","parameters":[{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoucherDetailRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Opening balance"],"summary":"Create or replace opening balance","operationId":"upsert","parameters":[{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpeningBalanceReq"}}},"required":true},"responses":{"200":{"description":"Opening balance replaced","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoucherDetailRes"}}}},"201":{"description":"Opening balance created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VoucherDetailRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Opening balance"],"summary":"Delete or reverse opening balance","description":"Deletes the resource when no accounting reversal is needed. If financial audit history must be retained, records a reversal instead. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"reversed\"}.","operationId":"delete_4","parameters":[{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Opening balance deleted or reversed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/offers/{id}":{"get":{"tags":["Offers"],"operationId":"get_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OfferRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Offers"],"operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OfferReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OfferRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Offers"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Offer deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/manual-vouchers/{id}":{"put":{"tags":["Vouchers"],"summary":"Replace manual voucher","operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoucherCreateReq"}}},"required":true},"responses":{"400":{"description":"ID does not identify a manual voucher","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Vouchers"],"summary":"Delete or reverse manual voucher","description":"Deletes the resource when no accounting reversal is needed. If financial audit history must be retained, records a reversal instead. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"reversed\"}.","operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Manual voucher deleted or reversed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"ID does not identify a manual voucher","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/manual-reconciliations/{bankAccountId}/ending-balance":{"put":{"tags":["Manual bank reconciliations"],"summary":"Update bank statement ending balance","description":"Saves the bank statement ending balance for a manual bank account month and returns the updated reconciliation state.","operationId":"updateEndingBalance","parameters":[{"name":"bankAccountId","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualReconciliationEndingBalanceReq"}}},"required":true},"responses":{"200":{"description":"Bank statement ending balance saved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ManualReconciliationRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/loans/{id}":{"get":{"tags":["Loans"],"operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoanRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Loans"],"operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoanRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Loans"],"operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Loan deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/{id}/status":{"put":{"tags":["Leads"],"operationId":"updateStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadStatusReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/{id}/notes":{"put":{"tags":["Leads"],"operationId":"updateNotes","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadNotesReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/{id}/follow-up":{"put":{"tags":["Leads"],"operationId":"updateFollowUp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadFollowUpReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/{id}/contact":{"put":{"tags":["Leads"],"operationId":"updateContact","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadContactReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/org/{orgNumber}/status":{"put":{"tags":["Leads"],"operationId":"updateStatusByOrgNumber","parameters":[{"name":"orgNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadStatusReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/org/{orgNumber}/notes":{"put":{"tags":["Leads"],"operationId":"updateNotesByOrgNumber","parameters":[{"name":"orgNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadNotesReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/org/{orgNumber}/follow-up":{"put":{"tags":["Leads"],"operationId":"updateFollowUpByOrgNumber","parameters":[{"name":"orgNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadFollowUpReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/leads/org/{orgNumber}/contact":{"put":{"tags":["Leads"],"operationId":"updateContactByOrgNumber","parameters":[{"name":"orgNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLeadContactReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/general-sub-accounts/{id}":{"get":{"tags":["General sub-accounts"],"summary":"Get general sub-account","description":"Returns one general subsidiary ledger sub-account.","operationId":"get_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"General sub-account returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneralSubAccountRes"}}}},"400":{"description":"Invalid id","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"403":{"description":"Missing ledger read permission","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"404":{"description":"General sub-account not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"401":{"description":"Unauthorized"},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["General sub-accounts"],"summary":"Update general sub-account","description":"Replaces the editable fields on a general subsidiary ledger sub-account. The parent account cannot be changed.","operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneralSubAccountUpdateReq"}}},"required":true},"responses":{"200":{"description":"General sub-account updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneralSubAccountRes"}}}},"400":{"description":"Validation failed, invalid id, or the name is already used for the account","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"403":{"description":"Missing ledger write permission","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"404":{"description":"General sub-account not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail","additionalProperties":{"default":""},"default":""}}}},"401":{"description":"Unauthorized"},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/departments/{id}":{"get":{"tags":["Departments"],"operationId":"get_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepartmentRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Departments"],"operationId":"update_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepartmentReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepartmentRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Departments"],"summary":"Delete or archive department","description":"Deletes the resource when it has no retained references. If deletion would break retained references, archives the resource instead; archived resources are hidden from active lists and may be restored by an unarchive endpoint when available. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"archived\"}.","operationId":"deleteOrArchive_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Department deleted or archived","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/debtors/{id}":{"get":{"tags":["Debtors"],"operationId":"get_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtorRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Debtors"],"operationId":"update_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebtorReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtorRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Debtors"],"operationId":"delete_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Debtor deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/customers/{id}/delivery-address":{"put":{"tags":["Customers"],"operationId":"updateDeliveryAddress","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerDeliveryAddressReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/customers/{id}/address":{"put":{"tags":["Customers"],"operationId":"updateAddress_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerAddressReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/creditors/{id}":{"get":{"tags":["Creditors"],"operationId":"get_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreditorRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Creditors"],"operationId":"update_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditorReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreditorRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Creditors"],"operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"204":{"description":"Creditor deleted"},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/company-banks/{id}":{"get":{"tags":["Company banks"],"operationId":"get_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyBankRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"put":{"tags":["Company banks"],"operationId":"update_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyBankReq"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyBankRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}},"delete":{"tags":["Company banks"],"summary":"Delete or archive company bank account","description":"Deletes the resource when it has no retained references. If deletion would break retained references, archives the resource instead; archived resources are hidden from active lists and may be restored by an unarchive endpoint when available. The response body is {\"outcome\":\"deleted\"} or {\"outcome\":\"archived\"}.","operationId":"deleteOrArchive_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32","exclusiveMinimum":0}},{"name":"X-Tenant-Id","in":"header","description":"Optional tenant id. Required for tenant-scoped requests when authenticating with a user access token.","required":false,"schema":{"type":"integer","format":"int32","minimum":1}}],"responses":{"200":{"description":"Company bank account deleted or archived","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiLifecycleOutcomeRes"}}}},"400":{"description":"Bad request","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"404":{"description":"Not found","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"409":{"description":"Conflict","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"type":"object","$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/api/assets/{id}/depreciation":{"put":{"tags":["Assets"],"operationId":"updateDepreciation","parameters":[{"name":"i
[...]
